# Dependencias de Node.js
node_modules/

# Archivos generados por npm
npm-debug.log
yarn-debug.log
yarn-error.log

# Archivos de configuración de entorno
.env
.env.local
.env.development
.env.test
.env.production

# Archivos generados por React
build/

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Configuración de IDE y editores de texto
.vscode/
.idea/

# Archivos de pruebas de cobertura
coverage/

# Archivos de Storybook (si usas Storybook)
.storybook/

# Archivos específicos de Next.js (si usas Next.js)
.next/

# Webpack (si usas Webpack directamente)
webpack.config.js
