.about-section {
  padding: 2rem;
  background-color: transparent; /* Fondo transparente */
  color: #000000;
}

.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.about-header {
  text-align: center;
  margin-bottom: 1.5rem;
}

.about-title {
  font-size: 2rem;
  color: #000000;
  margin: 0;
}

.about-content p {
  line-height: 1.8;
  margin: 1rem 0;
}

.about-call-to-action {
  color: #0206c7;
  font-weight: bold;
  cursor: pointer;
}

.about-call-to-action:hover {
  text-decoration: underline;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  .about-container {
    padding: 1rem; /* Reducir padding en pantallas pequeñas */
    max-width: 100%; /* Ancho completo */
    margin-top: 15rem;
  }

  .about-title {
    font-size: 1.5rem; /* Reducir tamaño de fuente del título */
  }

  .about-content p {
    font-size: 1rem; /* Reducir tamaño de fuente del párrafo */
    padding: 0 1rem; /* Añadir padding para no pegarse a los bordes */
  }

  .about-header {
    margin-bottom: 1rem; /* Reducir margen inferior */
  }

  .about-call-to-action {
    font-size: 1.1rem; /* Ajustar tamaño de la fuente */
  }
}