html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: url("/public/assets/fondo.jpg") no-repeat center center fixed;
  background-size: cover; /* Hace que la imagen cubra todo el fondo */
  background-color: rgba(
    177,
    169,
    169,
    1
  ); /* Capa semitransparente (negro con 50% de opacidad) */
  background-blend-mode: overlay; /* Combina la imagen con el color */
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

/* Ocultar barra de desplazamiento */
root::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

/* Estilos para el contenedor principal */
#root {
  display: flex; /* Define un contenedor flexible */
  flex-direction: column; /* Organiza los elementos hijos en columna */
  min-height: 100%; /* Asegura que el contenedor ocupe al menos toda la altura del viewport */
  overflow-x: hidden; /* Evita el desbordamiento horizontal */
  scrollbar-width: none; /* Oculta el scroll en Firefox */
  background: rgba(0, 0, 0, 0.2); /* Fondo con transparencia */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

/* Contenedor principal */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin-top: 6rem;
  padding-bottom: 2rem;
}
/* Footer general */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(46, 81, 116, 0.5);
  color: #ffffff;
  text-align: center;
  padding: 1rem;
}

/* Texto del footer */
.footer p {
  font-size: 15px;
  margin-bottom: 0.1rem;
}

/* Enlaces del footer */
.footer-links {
  margin: 0.5rem 0 1rem;
}

.footer-links a {
  color: #ffffff;
  font-size: 15px;
  margin: 0 5px;
  text-decoration: none;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.footer-links a:hover {
  color: #00cec9;
  transform: scale(1.1);
}

/* Íconos sociales */
.social-icons {
  display: flex;
  gap: 9px;
}

.social-icons a {
  color: #ffffff;
  font-size: 1rem;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.social-icons a:hover {
  color: #00cec9;
  transform: scale(1.2);
}
